<%- include('../layouts/head.ejs') %>

<main class="content">
  <div class="container-fluid p-0">

    <h1 class="h3 mb-3">Edit Project</h1>

    <%- include('../includes/alert.ejs') %>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header pb-1">
            <h5 class="card-title mb-0">Update</h5>
          </div>
          <div class="card-body">
            <form action="/projects/<%= project._id %>?_method=PUT" id="form-project" method="post"
              enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-6">

                  <input type="hidden" name="_method" value="PUT">
                  <div class="form-group-lg mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Project title"
                      value="<%= project.title %>">
                  </div>
                  <div class="form-group-lg mb-3">
                    <label for="status" class="form-label">Project Status</label>
                    <select data-defaultValue="<%= project.status %>" name="status" class="form-select" id="status">
                      <option selected>Select status</option>
                      <option value="TODO">New Project</option>
                      <option value="PROGRESS">In Progress</option>
                      <option value="ON_HOLD">On Hold</option>
                    </select>
                  </div>
                  <div class="form-group-lg mb-3">
                    <label for="demo" class="form-label">Demo</label>
                    <input type="text" class="form-control" name="demo" id="demo" placeholder="Project demo"
                      value="<%= project.demo %>">
                  </div>
                  <div class="form-group-lg mb-3">
                    <label for="github" class="form-label">Github Repository</label>
                    <input type="text" class="form-control" name="github" id="github" placeholder="Project github"
                      value="<%= project.github %>">
                  </div>
                  <div class="form-group-lg mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" placeholder="Leave a description here" id="description"
                      name="description" style="height: 100px"><%= project.description %></textarea>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" name="isSelected" type="checkbox" id="isSelected"
                      <%= project.isSelected && "checked"%>>
                    <label class="form-check-label" for="isSelected">
                      Selected project
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input " name="isHidden" type="checkbox" id="isHidden"
                      <%= project.isHidden === true && "checked"%>>
                    <label class="form-check-label" for="isHidden">
                      On Portfolio
                    </label>
                  </div>
                  <div class="mb-3">
                    <label for="stacks">Stacks </label>
                    <input type="text" id="tag-input" name="stacks" value="<%= project.stacks %>">
                  </div>



                </div>
                <div class="col-md-6">
                  <p class="mb-2">Current Image</p>
                  <div class=" position-relative w-100 d-flex flex-wrap mb-4 preview-project-image ">
                    <img src="<%= project.image %>" alt="<%= project.title %>">
                  </div>

                  <!-- <div class="my-3">
                    <label for="formFile" class="form-label">Upload Image Here</label>
                    <input class="form-control" name="image" type="file" id="formFile">
                  </div> -->

                  <div class="my-3">
                    <input type="file" name="image" class="d-none" id="upload-project-image">
                    <button id="btn-upload-project-image" class=" btn btn-primary btn-lg py-3 w-100 ">
                      <i data-feather="upload"></i> Upload
                      Image
                    </button>
                  </div>
                </div>


              </div>
              <div class="mb-3">
                <a href="/projects" class="btn btn-outline-primary me-2">Cancel</a>
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</main>


<%- include('../layouts/end.ejs') %>