<%- include('../layouts/head.ejs') %>
<main class="content">
  <div class="container-fluid p-0">

    <div class="mb-3 d-flex justify-content-between ">
      <h1 class="h3 my-0">Projects</h1>
      <form action="/projects" method="post">
        <button type="submit" class="btn btn-primary float-end mt-n1"><i class="align-middle me-2"
            data-feather="plus"></i> New
          project
        </button>
      </form>
    </div>

    <%- include('../includes/alert.ejs') %>

    <div class="row d-flex  align-items-stretch ">
      <% if(projects.length !== 0) { %>
      <% projects.map(project => { %>
      <div class="col-12 col-md-6 col-lg-4 ">
        <div class="card">

          <div class="card-header px-4 pt-4">
            <div class="card-actions float-end">
              <div class="dropdown position-relative">
                <a href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" class="">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-more-horizontal align-middle">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="19" cy="12" r="1"></circle>
                    <circle cx="5" cy="12" r="1"></circle>
                  </svg>
                </a>

                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="/projects/<%= project._id %>/edit ">Edit</a>
                  <!-- <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
              </div>
            </div>
            <h5 class="card-title mb-0 text-capitalize "> <%= project.title %> </h5>
            <%
              const statusBadge = {
                NEW: `<div class="badge bg-info my-2">New project</div>`,
                PROGRESS: `<div class="badge bg-warning my-2">Progress</div>`,
                ON_HOLD: `<div class="badge bg-danger my-2">On Hold</div>`,
                FINISHED: `<div class="badge bg-success my-2">Finished</div>`,
              }
            %>
            <% if(project.progress >= 100) { %>
            <%- statusBadge["FINISHED"] %>
            <% } else { %>
            <%- statusBadge[project.status] %>
            <% } %>

          </div>
          <div class="card-body px-4 pt-2">
            <p><%= project.description %> </p>

            <% project.stacks.map(item => { %>
            <span class=" badge bg-primary "><%= item %> </span>
            <% }) %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item px-4 pb-4">
              <p class="mb-2 font-weight-bold">Progress <span class="float-end"><%= project.progress %>%</span></p>
              <div class="progress progress-sm">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                  style="width: <%= project.progress %>%;">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <% }) %>
      <% } %>
    </div>

  </div>
</main>

<%- include('../layouts/end.ejs') %>