<%- include('./layouts/head.ejs') %>
<main class="content">
  <div class="container-fluid p-0">

    <div class="mb-4">
      <h1 class="h3 d-inline align-middle">Skills</h1>

    </div>
    <div class="row">
      <div class="col-md-8">
        <%- include('./includes/alert.ejs') %>

        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">Skills</h5>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#skillFormModal">
              <i data-feather="plus"></i>
              Add Skill
            </button>

            <div class="row mt-3">
              <% skills.map((skill) => { %>
              <div class="col-md-4 px-1">
                <div class="card  mb-2 shadow-none border bg-light">
                  <div class="card-body py-2 d-flex align-items-center justify-content-between ">
                    <div class="card-text mb-0"><%= skill.name %> </div>
                    <div class=" my-auto d-flex ">
                      <a href="#" id="edit-skill" class="me-2 p-0 btn btn-link shadow-none text-primary me-1 "
                        data-skill="<%= JSON.stringify(skill) %>" data-skills="<%= JSON.stringify(skills) %>">
                        <i data-feather="edit"></i></a>
                      <form action="/skills" method="post" class="p-0 m-0">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="skillId" value="<%= skill._id %>">
                        <button type="submit" class=" m-0 p-0 btn btn-link text-danger shadow-none">
                          <i data-feather="trash-2"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <% })  %>
            </div>
          </div>
        </div>


      </div>

    </div>

  </div>
</main>


<!-- Modal -->
<div class="modal fade" id="skillFormModal" tabindex="-1" aria-labelledby="skillFormModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="skillFormModalLabel">Create Skill</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/skills" method="post" id="form-skill">
          <div class="mb-3">
            <label for="skillName" class="form-label">Skill</label>
            <input type="text" class="form-control" name="skillName" id="skillName" placeholder="Skill name">
          </div>
          <input type="hidden" name="skillId" value="">
          <input type="hidden" name="_method" value="POST">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>

    </div>
  </div>
</div>

<%- include('./layouts/end.ejs') %>